# homebrew (probably)
# https://brew.sh

# python (definitely)
# ?

# conda so that you can have multiple independent environments
#
# cd to install directory e.g. Applications/Python/GrooveKraft
# conda env create -f environment.yml
# conda activate groovekraft


# python

# Recommended: DB Browser for SQLite
#
# https://sqlitebrowser.org

